#ignore venv/
venv/

#ignore pycache
__pycache__/


#ignore MacOs
*.DS_Store

#ignore audiocraft env & repo
Audiocraft/audiocraft_env/*
Audiocraft/audiocraft_repo/

#ignoew generated audio
Audiocraft/test*/